*.class
core/target
core/target/*
theory/target
theory/target/*
math/target
math/target/*

# Package Files #
*.jar
*.war
*.ear

# Private Test Cases #
*/src/test/java/_private
*/src/test/java/_private/*
*/src/test/resource/_private
*/src/test/resource/_private/*
